<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manager.dao.HomeConditionMapper">
    <resultMap id="BaseResultMap" type="com.manager.model.HomeCondition">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="neighborhood" jdbcType="VARCHAR" property="neighborhood"/>
        <result column="num" jdbcType="INTEGER" property="num"/>
        <result column="registry_address" jdbcType="VARCHAR" property="registryAddress"/>
        <result column="registry_condition" jdbcType="VARCHAR" property="registryCondition"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="live_address" jdbcType="VARCHAR" property="liveAddress"/>
        <result column="difficut" jdbcType="VARCHAR" property="difficut"/>
        <result column="home_type" jdbcType="VARCHAR" property="homeType"/>
        <result column="low" jdbcType="VARCHAR" property="low"/>
        <result column="low_money" jdbcType="VARCHAR" property="lowMoney"/>
        <result column="low_in" jdbcType="VARCHAR" property="lowIn"/>
        <result column="spec_poor" jdbcType="VARCHAR" property="specPoor"/>
        <result column="spec_poor_money" jdbcType="VARCHAR" property="specPoorMoney"/>
        <result column="spec_poor_out" jdbcType="VARCHAR" property="specPoorOut"/>
        <result column="poor_child" jdbcType="VARCHAR" property="poorChild"/>
        <result column="poor_child_money" jdbcType="VARCHAR" property="poorChildMoney"/>
        <result column="disabled_man" jdbcType="VARCHAR" property="disabledMan"/>
        <result column="disabled_man_money" jdbcType="VARCHAR" property="disabledManMoney"/>
        <result column="low_rent" jdbcType="VARCHAR" property="lowRent"/>
        <result column="low_rent_money" jdbcType="VARCHAR" property="lowRentMoney"/>
        <result column="own_house" jdbcType="VARCHAR" property="ownHouse"/>
        <result column="own_out_house" jdbcType="VARCHAR" property="ownOutHouse"/>
        <result column="own_car" jdbcType="VARCHAR" property="ownCar"/>
        <result column="inquire_goal" jdbcType="VARCHAR" property="inquireGoal"/>
        <result column="inquire_condition" jdbcType="VARCHAR" property="inquireCondition"/>
        <result column="operate_name" jdbcType="VARCHAR" property="operateName"/>
        <result column="insert_user_id" jdbcType="INTEGER" property="insertUserId"/>
        <result column="created" jdbcType="TIMESTAMP" property="created"/>
        <result column="modified" jdbcType="TIMESTAMP" property="modified"/>
        <result column="enable" jdbcType="INTEGER" property="enable"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, neighborhood, num, registry_address, registry_condition, phone, live_address,
        difficut, home_type, low, low_money, low_in, spec_poor, spec_poor_money, spec_poor_out,
    poor_child, poor_child_money, disabled_man, disabled_man_money, low_rent, low_rent_money, 
    own_house, own_out_house, own_car, inquire_goal, inquire_condition, operate_name,
        insert_user_id, created, modified, enable
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from home_condition
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectByQuery" parameterType="java.util.List" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from home_condition
        <where>
            <if test="createdStart != null">
                <![CDATA[  created >= #createdStart# ]]>
            </if>
            <if test="createdEnd != null">
                AND  <![CDATA[  created <= #createdEnd# ]]>
            </if>
            <if test="neighborhood != null">
                AND neighborhood like concat('%', #{neighborhood} , '%')
            </if>
            <if test="operateName != null">
                AND operate_name like concat('%', #{operateName}, '%')
            </if>
            <if test="homeType != null">
                AND home_type like #{homeType}
            </if>

        </where>
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from home_condition
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.manager.model.HomeCondition">
    insert into home_condition (id, neighborhood, num, 
      registry_address, registry_condition, phone,
        live_address, difficut, home_type,
      low, low_money, low_in,
        spec_poor, spec_poor_money, spec_poor_out,
      poor_child, poor_child_money, disabled_man, 
      disabled_man_money, low_rent, low_rent_money, 
      own_house, own_out_house, own_car, 
      inquire_goal, inquire_condition, operate_name, 
      insert_user_id, created, modified,
        enable)
    values (#{id,jdbcType=INTEGER}, #{neighborhood,jdbcType=VARCHAR}, #{num,jdbcType=INTEGER}, 
      #{registryAddress,jdbcType=VARCHAR}, #{registryCondition,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR},
        #{liveAddress,jdbcType=VARCHAR}, #{difficut,jdbcType=VARCHAR}, #{homeType,jdbcType=VARCHAR},
      #{low,jdbcType=VARCHAR}, #{lowMoney,jdbcType=VARCHAR}, #{lowIn,jdbcType=VARCHAR}, 
      #{specPoor,jdbcType=VARCHAR}, #{specPoorMoney,jdbcType=VARCHAR}, #{specPoorOut,jdbcType=VARCHAR}, 
      #{poorChild,jdbcType=VARCHAR}, #{poorChildMoney,jdbcType=VARCHAR}, #{disabledMan,jdbcType=VARCHAR}, 
      #{disabledManMoney,jdbcType=VARCHAR}, #{lowRent,jdbcType=VARCHAR}, #{lowRentMoney,jdbcType=VARCHAR}, 
      #{ownHouse,jdbcType=VARCHAR}, #{ownOutHouse,jdbcType=VARCHAR}, #{ownCar,jdbcType=VARCHAR}, 
      #{inquireGoal,jdbcType=VARCHAR}, #{inquireCondition,jdbcType=VARCHAR}, #{operateName,jdbcType=VARCHAR}, 
      #{insertUserId,jdbcType=INTEGER}, #{created,jdbcType=TIMESTAMP}, #{modified,jdbcType=TIMESTAMP},
        #{enable,jdbcType=INTEGER})
  </insert>
    <insert id="insertSelective" parameterType="com.manager.model.HomeCondition">
        insert into home_condition
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="neighborhood != null">
                neighborhood,
            </if>
            <if test="num != null">
                num,
            </if>
            <if test="registryAddress != null">
                registry_address,
            </if>
            <if test="registryCondition != null">
                registry_condition,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="liveAddress != null">
                live_address,
            </if>
            <if test="difficut != null">
                difficut,
            </if>
            <if test="homeType != null">
                home_type,
            </if>
            <if test="low != null">
                low,
            </if>
            <if test="lowMoney != null">
                low_money,
            </if>
            <if test="lowIn != null">
                low_in,
            </if>
            <if test="specPoor != null">
                spec_poor,
            </if>
            <if test="specPoorMoney != null">
                spec_poor_money,
            </if>
            <if test="specPoorOut != null">
                spec_poor_out,
            </if>
            <if test="poorChild != null">
                poor_child,
            </if>
            <if test="poorChildMoney != null">
                poor_child_money,
            </if>
            <if test="disabledMan != null">
                disabled_man,
            </if>
            <if test="disabledManMoney != null">
                disabled_man_money,
            </if>
            <if test="lowRent != null">
                low_rent,
            </if>
            <if test="lowRentMoney != null">
                low_rent_money,
            </if>
            <if test="ownHouse != null">
                own_house,
            </if>
            <if test="ownOutHouse != null">
                own_out_house,
            </if>
            <if test="ownCar != null">
                own_car,
            </if>
            <if test="inquireGoal != null">
                inquire_goal,
            </if>
            <if test="inquireCondition != null">
                inquire_condition,
            </if>
            <if test="operateName != null">
                operate_name,
            </if>
            <if test="insertUserId != null">
                insert_user_id,
            </if>
            <if test="created != null">
                created,
            </if>
            <if test="modified != null">
                modified,
            </if>
            <if test="enable != null">
                enable,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="neighborhood != null">
                #{neighborhood,jdbcType=VARCHAR},
            </if>
            <if test="num != null">
                #{num,jdbcType=INTEGER},
            </if>
            <if test="registryAddress != null">
                #{registryAddress,jdbcType=VARCHAR},
            </if>
            <if test="registryCondition != null">
                #{registryCondition,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="liveAddress != null">
                #{liveAddress,jdbcType=VARCHAR},
            </if>
            <if test="difficut != null">
                #{difficut,jdbcType=VARCHAR},
            </if>
            <if test="homeType != null">
                #{home_type,jdbcType=VARCHAR},
            </if>
            <if test="low != null">
                #{low,jdbcType=VARCHAR},
            </if>
            <if test="lowMoney != null">
                #{lowMoney,jdbcType=VARCHAR},
            </if>
            <if test="lowIn != null">
                #{lowIn,jdbcType=VARCHAR},
            </if>
            <if test="specPoor != null">
                #{specPoor,jdbcType=VARCHAR},
            </if>
            <if test="specPoorMoney != null">
                #{specPoorMoney,jdbcType=VARCHAR},
            </if>
            <if test="specPoorOut != null">
                #{specPoorOut,jdbcType=VARCHAR},
            </if>
            <if test="poorChild != null">
                #{poorChild,jdbcType=VARCHAR},
            </if>
            <if test="poorChildMoney != null">
                #{poorChildMoney,jdbcType=VARCHAR},
            </if>
            <if test="disabledMan != null">
                #{disabledMan,jdbcType=VARCHAR},
            </if>
            <if test="disabledManMoney != null">
                #{disabledManMoney,jdbcType=VARCHAR},
            </if>
            <if test="lowRent != null">
                #{lowRent,jdbcType=VARCHAR},
            </if>
            <if test="lowRentMoney != null">
                #{lowRentMoney,jdbcType=VARCHAR},
            </if>
            <if test="ownHouse != null">
                #{ownHouse,jdbcType=VARCHAR},
            </if>
            <if test="ownOutHouse != null">
                #{ownOutHouse,jdbcType=VARCHAR},
            </if>
            <if test="ownCar != null">
                #{ownCar,jdbcType=VARCHAR},
            </if>
            <if test="inquireGoal != null">
                #{inquireGoal,jdbcType=VARCHAR},
            </if>
            <if test="inquireCondition != null">
                #{inquireCondition,jdbcType=VARCHAR},
            </if>
            <if test="operateName != null">
                #{operateName,jdbcType=VARCHAR},
            </if>
            <if test="insertUserId != null">
                #{insertUserId,jdbcType=INTEGER},
            </if>
            <if test="created != null">
                #{created,jdbcType=TIMESTAMP},
            </if>
            <if test="modified != null">
                #{modified,jdbcType=TIMESTAMP},
            </if>
            <if test="enable != null">
                #{enable,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.manager.model.HomeCondition">
        update home_condition
        <set>
            <if test="neighborhood != null">
                neighborhood = #{neighborhood,jdbcType=VARCHAR},
            </if>
            <if test="num != null">
                num = #{num,jdbcType=INTEGER},
            </if>
            <if test="registryAddress != null">
                registry_address = #{registryAddress,jdbcType=VARCHAR},
            </if>
            <if test="registryCondition != null">
                registry_condition = #{registryCondition,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="liveAddress != null">
                live_address = #{liveAddress,jdbcType=VARCHAR},
            </if>
            <if test="difficut != null">
                difficut = #{difficut,jdbcType=VARCHAR},
            </if>
            <if test="homeType != null">
                home_type = #{homeType,jdbcType=VARCHAR},
            </if>
            <if test="low != null">
                low = #{low,jdbcType=VARCHAR},
            </if>
            <if test="lowMoney != null">
                low_money = #{lowMoney,jdbcType=VARCHAR},
            </if>
            <if test="lowIn != null">
                low_in = #{lowIn,jdbcType=VARCHAR},
            </if>
            <if test="specPoor != null">
                spec_poor = #{specPoor,jdbcType=VARCHAR},
            </if>
            <if test="specPoorMoney != null">
                spec_poor_money = #{specPoorMoney,jdbcType=VARCHAR},
            </if>
            <if test="specPoorOut != null">
                spec_poor_out = #{specPoorOut,jdbcType=VARCHAR},
            </if>
            <if test="poorChild != null">
                poor_child = #{poorChild,jdbcType=VARCHAR},
            </if>
            <if test="poorChildMoney != null">
                poor_child_money = #{poorChildMoney,jdbcType=VARCHAR},
            </if>
            <if test="disabledMan != null">
                disabled_man = #{disabledMan,jdbcType=VARCHAR},
            </if>
            <if test="disabledManMoney != null">
                disabled_man_money = #{disabledManMoney,jdbcType=VARCHAR},
            </if>
            <if test="lowRent != null">
                low_rent = #{lowRent,jdbcType=VARCHAR},
            </if>
            <if test="lowRentMoney != null">
                low_rent_money = #{lowRentMoney,jdbcType=VARCHAR},
            </if>
            <if test="ownHouse != null">
                own_house = #{ownHouse,jdbcType=VARCHAR},
            </if>
            <if test="ownOutHouse != null">
                own_out_house = #{ownOutHouse,jdbcType=VARCHAR},
            </if>
            <if test="ownCar != null">
                own_car = #{ownCar,jdbcType=VARCHAR},
            </if>
            <if test="inquireGoal != null">
                inquire_goal = #{inquireGoal,jdbcType=VARCHAR},
            </if>
            <if test="inquireCondition != null">
                inquire_condition = #{inquireCondition,jdbcType=VARCHAR},
            </if>
            <if test="operateName != null">
                operate_name = #{operateName,jdbcType=VARCHAR},
            </if>
            <if test="insertUserId != null">
                insert_user_id = #{insertUserId,jdbcType=INTEGER},
            </if>
            <if test="created != null">
                created = #{created,jdbcType=TIMESTAMP},
            </if>
            <if test="modified != null">
                modified = #{modified,jdbcType=TIMESTAMP},
            </if>
            <if test="enable != null">
                enable = #{enable,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.manager.model.HomeCondition">
    update home_condition
    set neighborhood = #{neighborhood,jdbcType=VARCHAR},
      num = #{num,jdbcType=INTEGER},
      registry_address = #{registryAddress,jdbcType=VARCHAR},
      registry_condition = #{registryCondition,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      live_address = #{liveAddress,jdbcType=VARCHAR},
      difficut = #{difficut,jdbcType=VARCHAR},
        home_type = #{homeType,jdbcType=VARCHAR},
      low = #{low,jdbcType=VARCHAR},
      low_money = #{lowMoney,jdbcType=VARCHAR},
      low_in = #{lowIn,jdbcType=VARCHAR},
        spec_poor = #{specPoor,jdbcType=VARCHAR},
      spec_poor_money = #{specPoorMoney,jdbcType=VARCHAR},
      spec_poor_out = #{specPoorOut,jdbcType=VARCHAR},
      poor_child = #{poorChild,jdbcType=VARCHAR},
      poor_child_money = #{poorChildMoney,jdbcType=VARCHAR},
      disabled_man = #{disabledMan,jdbcType=VARCHAR},
      disabled_man_money = #{disabledManMoney,jdbcType=VARCHAR},
      low_rent = #{lowRent,jdbcType=VARCHAR},
      low_rent_money = #{lowRentMoney,jdbcType=VARCHAR},
      own_house = #{ownHouse,jdbcType=VARCHAR},
      own_out_house = #{ownOutHouse,jdbcType=VARCHAR},
      own_car = #{ownCar,jdbcType=VARCHAR},
      inquire_goal = #{inquireGoal,jdbcType=VARCHAR},
      inquire_condition = #{inquireCondition,jdbcType=VARCHAR},
      operate_name = #{operateName,jdbcType=VARCHAR},
      modified = #{modified,jdbcType=TIMESTAMP},
        enable = #{enable,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>